
<section>
    <div class="contenedor">
       <div class="item">
         
      
          <div class="texto">
             <h2>Bienvenido a CenaYA <br><span>
                </span></h2>
             <p>En este lugar podras reservar para tus Momentos Especiales Descubre una experiencia de hacer una reserva de forma sencilla al restaurantes que gustes y lo mejor desde la comodidad de tu casa.Estamos aquí para convertir facilitar a la hora de hacer reservaciones. ¡Explora, reserva y disfruta de los restaurantes que te esperan!"</p>
          </div>
       </div>
       <div class="login-section">
          <div class="form-box login">
 <form action="">
                <h2>INICIAR SESIÓN</h2>
                <div class="inpunt-box">
                   <label for="">Email</label>
                   <input type="email" required>
 
                </div>
                <div class="inpunt-box">
                   <label for="">contraseña</label>
                   <input type="password" required>
 
                </div>
                <div class="remember-password">
                   <label for=""><input type="checkbox">Recuerdame</label>
                   <a href="R">Olvidaste tu contraseña</a>
                </div>
                <button class="button" >INICIAR SESIÓN</button>
                <div class="crear-cuenta">
 
                   <p>¿No tienes cuenta? <a routerLink="#" class="Register-link"> Crear Cuenta</a></p>
                </div>
 
               </form>

          </div>
          
          <!-- ******REGISTER****** -->
 
          <div class="form-box register">
 
          <form action="">
                <h2>Registrate</h2>
 
                <div class="inpunt-box">
                   <label for="">Nombres y Apellidos </label>
                   <input type="text"  placeholder=" Ej:Santiago Cardona">
 
                </div>
 
                <div class="inpunt-box">
                   <label for="">Numero de Telefono</label>
                   <input type="text" required  placeholder="Ej:3216546572">
 
                </div>
 
                <div class="inpunt-box">
                   <label for="">Correo electronico</label>
                   <input type="email" required  placeholder="Tunombre@gmail.com">
 
                </div>
                <div class="inpunt-box">
                   <label for="">contraseña</label>
                   <input type="password"  required>
 
                </div>
                <!--
                <button class="boton">REGISTRATE</button>
             
                <div class="iniciar-sesion">
                   <p>¿Ya tienes cuenta?<a routerLink="#" class="login">Iniciar Sesión</a></p>
                   
                   <p>¿Ya tienes cuenta?<a routerLink="/login" class="login">Iniciar Sesión</a></p>
                
                </div>-->
 
 
                <button class="button" >REGISTRATE</button>
                <div class="crear-cuenta">
 
                   
                </div>
 
           
               </form>
          </div>
 
       </div>
 
    </div>

</section>